@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap/scss/_modal.scss";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

blockquote, 
body {
  line-height: 25px;
}

body {
  color: #4a4a4a;
  font-size: 18px; 
  font-weight: 500;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  font-family: "VAG Round", sans-serif; 
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 25px 0;
  line-height: 1.3em;
  text-transform: uppercase;
}

 
#header_phone_1 {
  color: blue;
}


