@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "node_modules/bootstrap/scss/_modal.scss";
@import "node_modules/slick-carousel/slick/slick.scss";
@import "node_modules/slick-carousel/slick/slick-theme.scss";

/*
Bootstrap grid
1200px
992px
768px
576px

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 992px){
  
}

@media only screen and (max-width: 768px){
  
}

@media only screen and (max-width: 576px){
  
}

*/

blockquote, 
body {
  line-height: 25px;
}

body {
  color: #4a4a4a;
  font-size: 18px; 
  font-weight: 500;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  font-family: "VAG Round", sans-serif; 
}

ul {
  margin: 0;
  li {
    margin: 0;
    padding: 0;
  }
}

img {
  width: 100%;
}

a {
  &:hover, 
  &:active, 
  &:focus {
    text-decoration: none;
  }
}

p {
  margin: 0;
  padding: 0;
}
 
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3a3b8d;
  margin: 25px 0;
  line-height: 1.3em;
  text-transform: uppercase;
}

.text-align-center {
  text-align: center;
}

.color-blue-01 {
  color: #3a3b8d;
} 

.title-01 {
  font-size: 60px
}

// extra classes 
.hover-to-background-change-01 {
  transition: all .2s ease-out;
  &:hover, 
  &:active, 
  &:focus {
    background-color: #000 !important;
  }
}

#desktop-and-mobile-header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 100;
  // background-color: rgba( 0, 0, 0, .34);
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 39%, rgba(0,0,0,0.1) 100%);
  header {
    #top_bar {
      width: 100%;
      > div {
        max-width: 1680px;
        margin: 0 auto;
        padding: 10px;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .site__social-media {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 0;
          > li {
            margin-right: 10px;
            > a {
              background-color: #2c2f85;
              padding: 5px 10px;
              border-radius: 5px;
              
              > svg {
                font-size: 16px;
                color: #fff;
              }
            }
            &:last-child {
              margin-right: 0;
            }
          }
        }
        #header_phone_1 {
          > div {
            font-size: 18px;
            color: #fff;
          }
          &:hover, 
          &:active, 
          &:focus {
            color: #a71c19;
            text-decoration: none;
          }
        }
      }
      
    }
    #bottom_bar { 
      max-width: 1680px;
      margin: 15px auto 15px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      #logo {
        .header-logo {
          > img {
            max-width: 95px;
          }
        }
      }
      #main_nav {
        margin-left: 20px;
        > ul {
          display: flex;
          flex-flow: row wrap;
          > li {
            > a {
              font-size: 18px;
              padding: 6px 12px;
              color: #fff;
              transition: all .2s ease-out;
              &:hover, 
              &:active, 
              &:focus {
                background-color: #fff !important;
                color: #a71c19;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    .sticky_nav {
      display: none;
    }
  }
  nav {
    &.navbar-mobile {
      display: none;
    }
  } 
}

main {

  > .hero_1_block {
    margin-top: 45px;
  }
  > .three_columns_1_block {
    &.container {
      padding: 50px 15px;
      max-width: 1700px;
      > .row {
        > .col {
          @media only screen and (max-width: 768px){
            padding-bottom: 25px;
            &:last-child {
              padding-bottom: 0;
            }
          }
        }
      }
    }
  }
  > .two_columns_1_block,
  > .two_columns_2_block {
    .container {
      max-width: 1680px;
      padding: 0 0 50px;
      > h2 {
        margin-top: 0;
        margin-bottom: 40px;
      }
    }
    .images_container { 
      justify-content: center;
      padding-left: 10px;
      @media only screen and (max-width: 768px){
        padding-right: 10px;
      } 
      > div {
        width: 49%;
        padding: 0 10px 10px 0; 
        > a {
          > svg {
            width: 100%;
            height: 100%;
          }
        }
        @media only screen and (max-width: 768px){
          width: 100%;
          padding: 0 0 10px 0;
        }
      }
    }
  }
  > .two_columns_2_block {
    .container {
      max-width: unset;
      width: 100%;
      padding: 0;
    }
    .images_container {
      justify-content: center;
      > div {
        width: unset;
        padding: 0;
        @media only screen and (max-width: 768px){
          width: 100%; 
        }
      }
    }
  }
  > .social_media_columns_1_block {
    background-color: #cb2323;
    padding: 15px 15px;
    > .container {
      max-width: 1680px;
      > .row {
        align-items: center;
        > .col:first-child {
          @media only screen and (max-width: 768px){
            padding-bottom: 25px;
          }
          > a {
            text-align: center;
            > p {
              color: #fff;
              font-size: 40px;
            }
          }
        }
        > .col:last-child {
          > p {
            color: #fff;
            max-width: 415px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}

footer {
  &#footer_1 {
    background-color: #2c2f85;
    padding: 50px 15px;
    > .container {
      max-width: 1680px;
      
      > .row {
        > #footer_col_1 {
          > img {
            max-width: 100px;
          }
        }
        > #footer_col_2, 
        > #footer_col_3 {
          > ul {
            > li {
              padding: 0 0 15px 0;
              &:last-child {
                padding: 0 0 0 0;
              }
              > a {
                color: #fff;
              }
            }
          }
        }
        #footer_col_4 {
          > p {
            text-align: center;
            color: #fff;
          }
          > div.wpcf7 {
            margin-top: 30px;
            > form {
              display: flex;
              flex-flow: row nowrap;
              align-items: center;
              justify-content: center;
              > p:first-of-type {
                > label {
                  margin: 0;
                  > span {
                    > input[type=email] {
                      padding: 5px;
                    }
                  }
                }
              }
              > p:last-of-type {
                > input[type=submit]{
                  border: none;
                  border-radius: 0;
                  padding: 7px 15px;
                  position: relative;
                  font-size: 15px;
                  top: 0;
                  background-color: #cb2323;
                  color: #fff;
                }
              }
              .wpcf7-response-output {
                color: #cb2323;
              }
            }
          }
        }
      }
    }
    #footer_bottom {
      padding: 75px 0 0 0;
      > .container {
        > .row {
          > .col { 
            > p {
              text-align: center;
              color: #fff;
              font-size: 14px;
              font-weight: 400;
            }
            
          }
        }
      }

    }
  }
} 



